#nav-bar{
    background-color: #222222;
    width:16vw;
    color: white;
    overflow-x: hidden;
    max-height: 90vh;
    overflow-y: scroll;
}
#nav-bar>ul{
    padding-left:25px;
}
#nav-bar>ul>li{
    list-style: none;
    font-size: 14px;
    padding:8px 0;
    line-height: 1em;
}
.nav-icons,span{
    display: inline-block;
    padding-right:14px;
    vertical-align: middle;
}
hr{
    text-align: middle;
    width: 90%;
    opacity: 0.3; 
}
#test{
    font-size: 24px;
}


  