#search-bar{
    color: white;
    display: flex;
    justify-content: space-between;
    top:5px;
    position: sticky;
    align-items: center;
    background-color:inherit;
    padding: 18px 26px;
    z-index: 15;
}
#hamburger{
    cursor:pointer;
    opacity: 0.8;
}
#hamburger:hover{
    opacity: 1;
}
.nav-btn{
    background-color: inherit;
    border: transparent;
    color:white;
    padding:2px;
}
#logo-container{
    display: flex;
    align-items: center;
    padding:5px 0;
    justify-content: space-between;
}

#logo{
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: white;
    font-family: "teko";
    height: 100%;
}
#logo>h2{
    padding-left: 2px;
    font-size: 26px;
    height: 32px;
}

#icon{
    vertical-align: bottom;
}

#search-area{
    display: flex;
    width: 620px;
    height: 2.5em;
}
#search-icon{
    vertical-align: bottom;
}
#search{
    border: 1px solid transparent;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 100%;
    padding-left: 14px;
    font-size: 16px;
    color: rgb(212, 209, 209);
    background-color: inherit;
    border: 1px solid rgba(83, 83, 83, 0.664);
    z-index: 1;
}
#search:focus-visible{
    outline: 1px solid rgb(0, 119, 255);
}
#search-btn{
    border: 1px solid transparent;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width:16%;
    background-color: #222222;
    color: white;
    border: 1px solid rgb(83, 83, 83);
    z-index: 0;
}

#n-icons{
    display: flex;
    width:9em;
    justify-content: space-between;
    align-items: center;
}
#icon{
 font-size: 28px;
}
#dropdown{
    height: 2em;
}
#dropdown>button{
    border: 1px solid transparent;
    border-radius: 50px;
    height: 2.4em;
    width: 2.3em;
}
#dropdown:hover #dropdown-content{
    display: block;
}
#dropdown-content{
    height: 100%;
    display: none;
}
#dropdown-content>ul{
    position: absolute;
    list-style: none;
    padding:0;
    text-align: center;
    right:12px;
    width:4.5em;
    background-color: #444343ec;
    padding:10px;
    border-radius:5px;
 
}
.dd-list-item{
    opacity: 0.8;
}
.dd-list-item:hover{
    opacity: 1;
}
#logout-btn{
    color: white;
    background-color: inherit;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    font-family: "Roboto";
    font-weight: 400;
    display: flex;
    padding:0;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:1200px) {
    
#search-btn{
    width: auto;
}
#search-area{
    padding:0 10px;
    width: auto;
}
#search-bar{
    padding: 10px;
}
}
@media screen and (max-width:500px) {
    #search-btn{
        width: auto;
    }
    #search-area{
        padding:0 10px;
        width: auto;
    }
    #search-bar{
        padding: 10px;
    }
    #logo>h2{
        display: none;
    }
    }