#search-bar{
    color: white;
    display: flex;
    justify-content: space-between;
   top:0px;
   position: sticky;
    align-items: center;
  background-color: #121212;
    padding: 10px 26px;
    z-index: 4;
}

#icon{
    vertical-align: bottom;
}

#search-area{
    flex:6;
    margin: 0 200px;
    display: flex;
    width: 42vw;
    height: 2.5em;
}
#search-icon{
    vertical-align: bottom;
}
#search{
    border: 1px solid transparent;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    width: 100%;
    padding-left: 14px;
    font-size: 16px;
    color: rgb(212, 209, 209);
    background-color: inherit;
    border: 1px solid rgba(83, 83, 83, 0.664);
    z-index: 1;
}
#search:focus-visible{
    outline: 1px solid rgb(0, 119, 255);
}
#search-btn{
    border: 1px solid transparent;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    width:16%;
    background-color: #222222;
    color: white;
    border: 1px solid rgb(83, 83, 83);
    z-index: 0;
}

#n-icons{
    flex:1.2;
    display: flex;
  
 background-color: #222222;
    justify-content: space-between;
}
#icon{
 font-size: 30px;
}
#n-icons>button{
    border: 1px solid transparent;
    border-radius: 50px;
    width: 22%;
}