#video-div{
    display: flex;
    padding: 20px;
    flex:6
}

#video-section{
    background-color: #121212;
    color: white;
    width: 900px;
}
#video-title{
    font-weight: 500;
    font-size: 22px;
    padding:5px 0;
}
#video-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
#channel-desc{
    font-size: 15px;
    padding-right: 20px;
}
#channel-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:34%;
}
.sub-btn{
    display: flex;
    align-items: center;
    background-color:#282828;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    padding:5px 15px;
    font-size: 14px;
}

.vid-btns{
    background-color:#282828;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    padding:5px 15px;
    font-size: 14px;
}
#like{
    border-top-right-radius: 0;
    border-right: 1px solid white;

    border-bottom-right-radius:0 ;
}
#dislike{
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
}
#vid-icons{
    display: flex;
    justify-content: space-between;
    width: 42%;
}
.vid-icon{
    vertical-align: middle;
    padding-right: 4px;
}
#desc{
    background-color:#282828;
    border-radius:10px ;
    padding:15px;
    font-size: 14px;
}
#info{
    display: flex;
    width:18%;
    justify-content: space-between;
    font-weight: 600;
    padding-bottom: 5px;
}
#comment{
    display: flex;
    padding-top: 10px;
}

#comment-ip{
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea:focus-visible{
    outline: none;
}

#cmt-btns{
    align-self: flex-end;
    padding-top:10px ;
    display: flex;
    width: 26%;
    justify-content: space-between;
}
.comments{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
}
#cmnt-body{
    width: 94%;
    font-size: 15px; 
}
#cmnts-btn{
    display:flex;
    width: 15%;
    justify-content: space-between;
    padding-top: 5px;
}
.suggestion{
    display: flex;
    color: white;
    font-size: 12px;
    padding-left: 20px;
    padding-bottom:20px ;
}
#s-txt{
    padding-left: 10px;
}
#s-txt>h3{
    padding-bottom: 5px;
}
h2,h3,p{
    padding: 0;
    margin: 0;
}
