#video-div{
    display: flex;
    padding:30px 10px 30px 20px  ;
   justify-content: space-evenly;
   width: 100%;
}
#vid{
    max-height: 720px;
    object-fit: cover;
    width: 100%;
}

#video-section{
    color: #ffffffee;
    width: 900px;
    
}
#video-title{
    font-weight: 500;
    font-size: 22px;
    padding:5px 0;
    margin:0
}
#video-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}
#channel-container{
    display:flex;
    max-width: 10em;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}
#channel-desc{
    font-size: 15px;

}
#channel-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:18em;
}.sub-btn{
    display: flex;
    align-items: center;
    background-color:#282828;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    padding:5px 10px;
    font-size: 14px;
}

.vid-btns{
    background-color:#282828;
    border: 2px solid transparent;
    border-radius: 20px;
    color: white;
    padding:5px 10px;
    font-size: 14px;
}
#like{
    border-top-right-radius: 0;
    border-right: 1px solid white;

    border-bottom-right-radius:0 ;
}
#dislike{
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
}
#vid-icons{
    display: flex;
    justify-content: space-between;
    width: 42%;
}
.vid-icon{
    vertical-align: middle;
    padding-right: 4px;
}
#desc{
    background-color:#282828;
    border-radius:10px ;
    padding:15px;
    font-size: 14px;


}
#info{
    display: flex;
    width: auto;
    font-weight: 600;
    gap:16px;
    padding-bottom: 5px;
}
#tag{
    display: flex; 
    gap:5px;
}
#comment{
    display: flex;
    padding-top: 10px;
}

#comment-ip{
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea:focus-visible{
    outline: none;
}

#cmt-btns{
    align-self: flex-end;
    padding-top:10px ;
    display: flex;
    width: 22%;
    justify-content: space-between;
}
.comments{
    display: flex;
    padding-top:20px;
    gap:12px;
}
#cmnt-body{
    width:44.8em;
    font-size: 15px; 
    

}
#cmnts-btn{
    display:flex;
    width: 15%;
    justify-content: space-between;
    padding-top: 5px;
}

.suggestion{
    display: flex;
    color: #ffffffee;
    font-size: 12px;
   padding:10px 20px;
   gap:2px;
 
}
#s-txt{
    padding-left: 10px;
}
#s-txt>h3{
    padding-bottom: 5px;
}
h2,h3,p{
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1200px) {
    #video-div{
        flex-direction: column;
    }
}
  